[Unit]
Description=Dynamer for Cloudflare (.NET)
After=network.target

[Service]
User=albie
TimeoutStartSec=0
KillMode=process
WorkingDirectory=/home/albie/dynamer/
ExecStart=/usr/bin/dotnet /home/albie/dynamer/Dynamer.dll
Restart=always
RestartSec=10
Environment=Production

[Install]
WantedBy=multi-user.target