[Unit]
Description=Dynamo for Cloudflare (.NET)
After=network.target

[Service]
User=ubuntu
TimeoutStartSec=0
KillMode=process
WorkingDirectory=/home/ubuntu/dynamo/
ExecStart=/usr/bin/dotnet /home/ubuntu/dynamo/Dynamo.dll
Restart=always
RestartSec=10
Environment=Production

[Install]
WantedBy=multi-user.target